#!/bin/bash
SCRIPT=`python -c "import os,sys; print(os.path.realpath(os.path.expanduser(sys.argv[1])))" "${BASH_SOURCE:-$0}"`
export PROJECT_DIR=$(dirname $SCRIPT)

export GO111MODULE=on
export DOCKER_HOST_IP=127.0.0.1
export GOPROXY=direct
export PATH=$PATH:$PWD/bin

WANT_VERSION=$(cat .goversion)
GOT_VERSION=$(go version | awk '{print $3}')
if [ "$WANT_VERSION" != "$GOT_VERSION" ]; then
    echo "!! The example is using $WANT_VERSION, but you're running $GOT_VERSION."
    echo "!! Some operations may not work as expected."
fi
